body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f5f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.724);
    margin-top: 200px !important;
  }
  
  h1 {
    color: #333333;
    font-weight: bold;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn-primary {
    width: 30%;
  }