*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url('11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px black;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.176);
}