body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top,rgb(25, 25, 252),rgb(105, 105, 255),rgb(197, 197, 252));
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    margin: 20px;
    color: #000000;
    font-size:50px;
    text-shadow: 0 3px 9px  white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #10004e;
    border: 2px solid #ccc;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

.card.flipped {
    background-color: #ffffff;
}
