body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(85, 85, 255), rgb(105, 105, 255), rgb(185, 185, 254));
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    margin: 20px;
    color: #000000;
    font-size: 50px;
    text-shadow: 0 3px 9px white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* Changed to 5 columns */
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #10004e;
    border: 2px solid #ccc;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

.card.flipped {
    background-color: #ffffff;
}

#timer {
    margin-top: 20px;
    font-size: 24px;
}

#message {
    margin-top: 20px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 0 8px 16px  rgb(68, 0, 255);
}
