*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 37, 38);
}
.wrapper{
    width: 100%;
    max-width: 650px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);   
}
i#prev{
    left: 25px;
}
i#next{
    right: 25px;
}
.wrapper i.button{
    position:absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(35, 51, 98);
    color: white;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
.image-container{
    height: 400px;
   max-width: 500px; 
   width: 100%;
}
.image{
    width: 100%;
    height: 100%;
    display: flex;

}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 20px;
    border: 2px solid white;

}