 body {
            text-align: center;
            margin-top: 50px;
        }
 #result {
            margin-top: 20px;
        }
#guessInput{
    border: 2px solid rgb(72, 0, 255);
    border-radius: 10px;
    width: 50%;
    margin-left: 300px;
}